<div class="container">
  <div class="d-flex flex-column align-items-center ">

    <h1>Lists</h1>
    <%= link_to 'New List', new_list_path, class: "link-button" %>
    <ul>
      <% @lists.each do |list| %>
        <li>
          <%= link_to list.name, list, class: "link-edit" %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Back to Movies', movies_path, class: "link-button" %>

  </div>
</div>
