body {
  min-height: 200vh;
  transition: background 0.5s ease;
//   background: linear-gradient(
//   40deg,
//   hsl(240deg, 100%, 25%) 0%,
//   hsl(227deg, 100%, 30%) 10%,
//   hsl(224deg, 100%, 35%) 25%,
//   hsl(223deg, 100%, 40%) 48%,
//   hsl(222deg, 100%, 45%) 69%,
//   hsl(221deg, 100%, 50%) 82%,
//   hsl(219deg, 100%, 53%) 89%,
//   hsl(218deg, 100%, 56%) 94%,
//   hsl(216deg, 100%, 58%) 97%,
//   hsl(215deg, 100%, 60%) 99%,
//   hsl(213deg, 100%, 62%) 100%
// );
}
