.card-hover-black {
  border: 1px solid transparent;

&:hover {
  border: 1px solid black;
  transition: 1s ease;
}
}

.bookmark-card {
    background-color: #fffffe;
    border-radius: 16px;
    padding: 8em;
    margin: 16px 0;
}

.ul-card-bookmarks {
  background-color: #658AD3;
  border-radius: 4px;
  padding: 2em;
  color: white;
}

.bookmarks-create {
  color: black;
}

.list-form-create {
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-top: 5em;

  h1 {
    color: black;
    font-size: 48px;
    font-family: $headers-font;
  }
}

.create-list-btn {
  color: white;
  background-color: #3868C7;
  &:hover {
    background-color: #658AD3;
    transition: 0.6s ease;
  }
}

.bookmarks-show-card {
  border-radius: 16px;
}
