h1 {
  font-size: 40px;
  color: black;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 32px;
  color: black;
  font-family: 'Poppins', sans-serif;
}

#new-list-create-page {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
