h1 {
  font-size: 48px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 40px;
  color: black;
  font-family: 'Poppins', sans-serif;
}

#new-list-create-page {
  font-family: 'Poppins', sans-serif;
}
