.link-button {
  text-decoration: none;
  font-size: 16px;
  color: #fffffe;
  background-color: #FF4500;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0px;
  font-family: $body-font;

  &:hover {
    color: #fffffe;
    background-color: #FF5A1F;
    transition: 0.6s ease;
  }
}
// ^ btn done

.link-edit {
  text-decoration: none;
  font-size: 24px;
  color: #FF4500;
  margin: 0px;
  font-family: 'Poppins', sans-serif;

  &:hover {
    color: #FF5A1F;
    transition: 0.6s ease;
  }
}
// ^ link done
